
#忽略所有 .a 结尾的文件
*.a


#但 lib.a 除外
!lib.a

# 仅仅忽略项目根目录下的 TODO 文件，不包括 subdir/TODO
/TODO

# 忽略 build/ 目录下的所有文件
build/

# 会忽略 doc/notes.txt 但不包括 doc/server/arch.txt
doc/*.txt

# 忽略 doc/ 目录下所有扩展名为 txt 的文件
doc/**/*.txt




#文件 .gitignore 的格式规范如下：
    #所有空行或者以注释符号 ＃ 开头的行都会被 Git 忽略。
    #可以使用标准的 glob 模式匹配。
    #匹配模式最后跟反斜杠（/）说明要忽略的是目录。
    #要忽略指定模式以外的文件或目录，可以在模式前加上惊叹号（!）取反。
